<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Widget Template</title>
</head>

<body>
  <div data-widget-host="habitat" class="preview">
    <div id='status-app'>
      <!-- add ID or NAME of Component for exclude from table -->
      <script type="text/props">
        {
          "blacklist": ["g0sz8f1z3xkd", "mc8k0fp2nnpb", "Data ETL", "IT"]
        }
      </script>
    </div>
  </div>
  <script async src="/bundle.js"></script>
</body>

</html>